ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

textarea {
  resize: none;
}

.container {
  margin: 0 auto;
  padding: 0 355px;
}

.about_us {
  background-color: #F6F6F8;
}
.about_us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.about_us-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: left;
}
.about_us-text {
  margin-top: 60px;
  margin-bottom: 42px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: left;
  color: rgba(153, 153, 153, 0.6);
}
.about_us-img {
  width: 500px;
  height: 400px;
}
.about_us-link {
  text-decoration: underline;
  color: #4985FF;
}
.about_us-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  padding-bottom: 50px;
}
.about_us-list-text {
  width: 100px;
  height: 15px;
}
.about_us-list-number {
  font-family: Montserrat;
  font-size: 36px;
  line-height: 52.66px;
  text-align: left;
}
.about_us-div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.about_us-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
}

.all_project {
  background-color: #F6F6F8;
  padding-bottom: 50px;
}
.all_project-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: center;
}
.all_project-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: center;
  color: #999;
  margin-top: 28px;
}
.all_project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 92px;
}
.all_project-link {
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  background-color: rgb(87, 87, 216);
  width: 200px;
  height: 45px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.all_services {
  position: relative;
  background: linear-gradient(135deg, #4A00E0, #8E2DE2);
}
.all_services::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #fff;
  z-index: 1;
}
.all_services-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 72px;
}
.all_services-link {
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  background-color: rgb(87, 87, 216);
  width: 200px;
  height: 45px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}
.all_services-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.all_services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 3;
  margin-bottom: 40px;
}
.all_services-list-img {
  width: 350px;
  height: 300px;
  margin-top: -50px;
  position: relative;
  z-index: 1;
}
.all_services-list-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 25px;
}
.all_services-list-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: left;
  color: #999;
  margin-bottom: 47px;
}
.all_services-list-link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
  text-decoration: underline;
  color: #4985FF;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #A1A1A1;
  padding: 30px 0;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 30px;
  font-size: 16px;
}
.nav-list-link {
  font-family: Montserrat;
  font-weight: 500;
  line-height: 19.5px;
  color: #FFF;
}

.hero {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  padding-top: 220px;
  padding-bottom: 335px;
}
.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  color: #fff;
}
.hero-title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 800;
  line-height: 64.36px;
  text-align: center;
  color: #fff;
}
.hero-link {
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  background-color: rgb(87, 87, 216);
  width: 200px;
  height: 45px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.services {
  margin-top: 110px;
}
.services-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: center;
}
.services-text {
  margin-top: 32px;
  color: #999999;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: center;
}
.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  gap: 27px;
  margin-bottom: 55px;
}
.services-list-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
}
.services-list-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.19px;
  text-align: left;
  color: #999999;
}
.services-link {
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  background-color: rgb(87, 87, 216);
  width: 200px;
  height: 45px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin-bottom: 105px;
}
.services-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
}
.services-icon {
  width: 80px;
  height: 80px;
}

.video {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  position: relative;
}
.video::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #fff;
  z-index: 1;
}
.video-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 52.66px;
  text-align: center;
  color: white;
  padding-top: 40px;
}
.video-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.36px;
  text-align: center;
  color: white;
}
.video-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.video-box-img {
  margin-top: 50px;
  position: relative;
  z-index: 2;
}/*# sourceMappingURL=main.css.map */