.about_us{
    background-color: #F6F6F8;
    &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    }
    &-title{
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 52.66px;
text-align: left;
    }
    &-text{
        margin-top: 60px;
        margin-bottom: 42px;
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 25.36px;
text-align: left;
color: #9999;
    }
    &-img{
       width: 500px; 
       height: 400px;
    }
    &-link{
        text-decoration: underline;
        color: #4985FF;
    }
    &-list{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-bottom: 50px;
        &-text{
            width: 100px;
            height: 15px;
        }
        &-number{
            font-family: Montserrat;
            font-size: 36px;
            line-height: 52.66px;
            text-align: left;
        }
    }
    &-div{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    &-icon{
        display: flex;
        width: 40px;
        height: 40px;
    }
}